<% title 'Sign Up' %>
<header class="text-center my-4">
  <h1 class="h3 text-primary font-weight-normal mb-0">Welcome to <span class="font-weight-bold"><%= ENV.fetch('NAME') %></span></h1>
  <p>Fill out the form to get started.</p>
</header>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= render partial: 'shared/user', locals: { f: f } %>
  <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 mt-2 mt-md-5">
    <div class="mb-2 mb-md-2">
      <%= f.submit 'Sign Up', class: 'btn btn-block btn-primary transition-3d-hover' %>
    </div>
    <div class="text-center text-muted small">
        <p class="mb-2">
        <p class="mb-0">
          Already Have an Account? <%= link_to 'Sign In', new_user_session_path  %><br>
          Didn't receive confirmation email? <%= link_to 'Resend', new_confirmation_path(resource_name) %>
        </p>
    </div>
  </div>
<% end %>
