<div class="item">
  <header>
    <div class="d-flex">
      <span class="type"><%= resource.type_title %></span>
      <% if resource.series.any? %>
      <div class="series ml-auto d-none d-md-block">
        Series:
        <% resource.series.each do |series| %>
          <%= link_to series.name, series_path(series, resource_type: params[:resource_type]) %>
        <% end %>
      </div>
      <% end %>
    </div>
    <h2><%= link_to resource.name, resource_path(resource) %></h2>
    <p class="authors">
    <% resource.authors.each do |author| %>
      <%= link_to author.name, author_path(author, resource_type: params[:resource_type]) %>
    <% end %>
    </p>
  </header>
  <footer>
    <div class="d-flex">
      <date class="date"><%= resource.published_at.strftime('%b %d, %Y') %></date>
      <div class="ml-auto"></div>
      <% if resource.topics.any? %>
      <div class="topics ml-3 d-none d-md-block">
        Topic:
        <% resource.topics.each do |topic| %>
          <%= link_to topic.name, topic_path(topic, resource_type: params[:resource_type]) %>
        <% end %>
      </div>
      <% end %>
      <% if resource.scriptures.any? %>
      <div class="scriptures ml-3 d-none d-md-block">
        Scripture:
        <%= render partial: 'shared/resource/scripture_list', locals: { resource: resource } %>
      </div>
      <% end %>
    </div>
  </footer>
</div>
