<div class="container my-5">
  <h1><%= title 'Permissions' %></h1>
  <p>
  Thank you for your interest in sharing our resources. Everything published at <%= link_to 'Ev Church Resources', root_path %>
  is protected by copyright, and while our mission is to freely share as much of our content as possible, we also want to
  steward these assets well and respect the rights of those whose content we share. This website is your best resource for
  accessing our content and sharing it with others, and we encourage you to point people here. If you want to download
  copies for yourself or share copies with others, we have two main categories of content, with varying permissions
  for each category, to consider.
  </p>

  <h2>1. Resources by Ev Church</h2>

  <p>
  Content on <%= link_to 'Ev Church Resources', root_path %> that has no author attribution, or which
  indicates copyright with Ev Church Resources, is owned by Ev Church Resources. Use of this content outside of this site requires
  permission from Ev Church Resources. Please <a href="mailto:info+permission@ev.church">contact us</a> to request permission.
  </p>


  <h2>2. Resources by Guest Authors</h2>

  <p>
  Content by other authors is owned by those authors unless indicated otherwise. We have the permission of those authors
  to publish and distribute their content on this site. However, any other use of this type of content outside of our site
  requires permission from the author and copyright owner, if different from the author. To contact the various contributors
  to this site for permission, please visit their <%= link_to 'author profile', authors_path %>.
  </p>

  <h2>Common Questions</h2>

  <h3>Can I Translate Ev Church Resources content?</h3>

  <p>
  Translations of content for personal use and that you do not share with others is permitted. However, given
  translations require great care to preserve the intended meaning of the original work, permission is required for any
  sharing or publishing a translation of the content found on this site.  Please
  <a href="mailto:info+permission@ev.church">contact us</a> to request permission.
  </p>

  <h3>Can I Publish My Content on Ev Church Resources?</h3>

  <p>We’d love to hear from you if you’re interested in contributing to the content on this site. For information on
  submitting guest articles, please <a href="mailto:info+request@ev.church">contact us</a>.
  </p>

  <h3>Can I Play an Ev Church Resources Video at My Event or Gathering?</h3>

  <p>
  You do not need special permission to play audio/video content of Ev Church Resources for a private or public
  gathering of any size, provided the gathering is not commercial or political in nature, and you do not charge anything
  to view the content. Please credit us and refer to our website <%= link_to 'Ev Church Resources', root_path %>.
  </p>
</div>
