<div class="page-header">
  <div class="container">
    <%= render partial: 'shared/resource/media', locals: { resource: resource } %>
  </div>
</div>
<div class="page-section">
  <div class="container resource-header">
    <div class="breadcrumbs">
      <%= link_to resource.type_title, resources_path(resource_type: resource.type_param) %>
      /
      <%= link_to resource.series.first.name, series_path(resource.series.first) %>
    </div>
    <h1><%= title resource.name %></h1>
    <p class="lead"><%= resource.snippet %></p>
    <p>
      <span class="authors">
      <% resource.authors.each do |author| %>
        <%= link_to author.name, author_path(author, resource_type: params[:resource_type]) %>
      <% end %>
      </span>
      <span class="pipe">|</span>
      <date class="date"><%= resource.published_at.strftime('%b %d, %Y') %></date>
    </p>
    <% if resource.scriptures.any? %>
      <% resource.connection_scriptures.each do |connection_scripture| %>
        <p class="scripture">
          Scripture:
          <%= link_to connection_scripture.name, scripture_path(connection_scripture.scripture_id, resource_type: params[:resource_type]) %>
        </p>
        <%= connection_scripture.content.html_safe %>
      <% end %>
    <% end %>
  </div>
</div>
