<div class="page-header <%= resource.type_title.underscore %>">
  <div class="container">
    <%= render partial: 'shared/resource/media', locals: { resource: resource } %>
  </div>
</div>
<div class="page-section <%= resource.type_title.underscore %>">
  <div class="container resource-header <%= resource.type_title.underscore %>">
    <div class="breadcrumbs">
      <%= link_to resource.type_title, resources_path(resource_type: resource.type_param) %>
      <% if resource.series.any? %>
        /
        <%= link_to resource.series.first.name, series_path(resource.series.first, resource_type: params[:resource_type]) %>
      <% end %>
    </div>
    <h1><%= title resource.name %></h1>
    <p class="lead"><%= resource.snippet %></p>
    <div class="addthis_inline_share_toolbox mb-3"></div>
    <p>
      <% if resource.authors.any? %>
        <span class="authors">
        <% resource.authors.each do |author| %>
          <%= link_to author.name, author_path(author, resource_type: params[:resource_type]) %>
        <% end %>
        </span>
        <span class="pipe">|</span>
      <% end %>
      <date class="date"><%= resource.published_at.strftime('%b %d, %Y') %></date>
    </p>
    <% if resource.topics.any? %>
        <p class="topics">
          Topics:
        <%=
          resource.topics.map do |topic|
            link_to topic.name, topic_path(topic, resource_type: params[:resource_type])
          end.join(', ').html_safe
        %>
        </p>
    <% end %>
    <% if resource.scriptures.any? %>
      <p class="scripture">
        Scripture:
        <%= render partial: 'shared/resource/scripture_list', locals: { resource: resource } %>
      </p>
      <% resource.connection_scriptures.each do |connection_scripture| %>
        <%= connection_scripture.content&.html_safe %>
      <% end %>
    <% end %>
  </div>
  <% if resource.content.present? %>
    <div class="container pb-5">
      <div class="resource-content">
        <%= resource.content.html_safe %>
      </div>
    </div>
  <% end %>
</div>
<% if resource.related.any? %>
<div class="card-deck-container">
  <div class="container">
    <h2>Related Resources</h2>
    <div class="card-deck">
    <% resource.related.each do |resource| %>
      <%= render partial: "shared/resource/card", locals: { resource: resource, show_image: true } %>
    <% end %>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ced0bb51af38b7a"></script>
<% set_meta_tags og: {
  title: resource.name,
  audio: resource.audio_url.presence || (polymorphic_url(resource.audio) if resource.audio.attached?),
  description: resource.description,
  url: resource_url(resource),
  image: (polymorphic_url(resource.banner) if resource.banner.present?)
} %>
