<% title params[:resource_type] ? "#{params[:resource_type].pluralize.titleize} by Series" : 'Series Index' %>
<%= render 'shared/listing_header' %>
<div class="index container my-5">
  <div class="row">
  <% @series_index.each do |hash| %>
    <div class="col-12 col-md">
    <% hash.each do |key, collection| %>
      <dl>
      <dt class="mt-4 mb-2"><%= key %></dt>
      <% collection.each do |series| %>
      <dd>
        <a href="<%= series_path(series, resource_type: params[:resource_type]) %>">
          <div class="card">
            <%= image_tag series.banner, class: 'card-img-top' if series.banner.attached? %>
            <div class="card-body">
              <h5 class="card-title mb-0">
                <%= series.name %>
              </h5>
            </div>
          </div>
        </a>
      </dd>
      <% end %>
      </dl>
    <% end %>
    </div>
  <% end %>
  </div>
</div>
