<footer class="site-footer">
  <div class="connect">
    <div class="container">
      <div class="row">
        <div class="col col-md-6">
          <div class="podcast">
            <a href="https://geo.itunes.apple.com/us/podcast/auckland-ev-church-sermons/id944102025?mt=2&app=itunes"
              target="_blank">
              <%= image_pack_tag 'images/listen-on-apple-podcasts.png', style: 'height: 40px;' %>
            </a>
            <a href="https://open.spotify.com/show/7zhspYmybJOa54afNYEg8H?si=6hqr18IXRaKTdz_Jsnu--A"
                target="_blank">
              <%= image_pack_tag 'images/listen-on-spotify.png', style: 'height: 40px;' %>
            </a>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="social">
            <a href="https://www.facebook.com/aucklandev.co.nz" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://instagram.com/aucklandev.co.nz" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UC8IXh1iqJ_6q5nA8ZMdmwyg" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://twitter.com/AucklandEv" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render 'links' %>
  </div>
  <div class="credits">
    <div class="container">
      <div class="copyright">&copy; <%= Date.today.year %> <a href="https://aucklandev.co.nz">Auckland Ev</a></div>
      <div class="pages">
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to 'Permissions', page_path('permissions') %></li>
          <li class="nav-item"><%= link_to 'Privacy<span class="d-none d-md-inline"> Policy</span>'.html_safe, page_path('privacy') %></li>
          <li class="nav-item"><%= link_to 'Terms<span class="d-none d-md-inline"> of Service</span>'.html_safe, page_path('terms') %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
