<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: ENV.fetch('NAME'), reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/vww5ope.css">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'menu' %>
    <%= yield %>
  </body>
</html>
